
header{
    background-color: rgb(33, 33, 66);
    height: 200px;
}
h1{
    font-size: 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.p-header{
    text-align: center;
    color: white;
    font-size: 20px;
}
.h2-header{
    color:white;
    font-size: 25px;
    text-align: center;
}
.images{
    width: 100%;
    height: auto;
}
.lien{
    text-align: center;
    color: rgb(10, 10, 10);
    font-size: 20px;
}
p{
    text-align: center;
    color: black;
}
h2{
    text-align: center;

}
h3{
    text-align: center;

}
.bio{
    padding: 40px;
}
/* #portraits{
    padding: 50px;
} */


@media{

}